.cart{
    margin-top: 50px;
}

.cart-icon{
    position: relative;
}
.cart-count{
    position: absolute;
    background-color: red;
    color: white;
    padding: 5px;
    width: 20px;
    height: 30px;
   border-radius: 5px;
   font-size: 15px;
}
.alert{
    display: none;
}